body{
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./galaxy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.galaxy{
  position: relative;
  height: 100%;
  width: 100%;
}
.sun{
  position: absolute;
  background-color: yellow;
  width: 10em;
  height: 10em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 20px 20px 100px white;
}

.earth-orbit, .mercury-orbit, .venus-orbit{
  position: absolute;
  border-style: solid;
  border-color:indigo ;
  border-width: 1px 1px 1px 1px;
  border-radius: 50%;
}

.mercury-orbit{
    width: 15em;
    height: 15em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.mercury{
  height: 100%;
  animation: orbit 10s linear infinite;
}
.venus-orbit{
  width: 30em;
  height: 30em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.venus{
  height: 100%;
  animation: orbit 20s linear infinite;
}
.earth-orbit{
  left: 50%;
  top: 50%;
  width: 50em;
  height: 50em;
  transform: translate(-50%, -50%);
}
.earth{
  height: 100%;
  animation: orbit 36.5s linear infinite;
}
.moon-orbit{
  position: absolute;
  top: -64px;
  left: 50%;
  transform: translateX(-50%);
  width: 8em;
  height: 8em;
}
.moon{
  height: 100%;
  animation: orbit 2.7s linear infinite;
}

.earth::before, .moon::before, .mercury::before, .venus::before{
  content: '';
  position: absolute;
  border-radius: 50%;
}
.earth::before{
  top: -24px;
  left: 50%;
  transform: translateX(-50%);
  width: 3em;
  height: 3em;
  background-color:aqua ;
}
.moon::before{
  background-color: silver;
  width: 1.2em;
  height: 1.2em;
  right: 0;
  top: 0;
}
.mercury::before{
  width: 1.8em;
  height: 1.8em;
  background-color: slategrey;
  top: 0;
  right: 3.5em;
}
.venus::before{
  width: 2.5em;
  height: 2.5em;
  background-color: crimson;
  right: 27%;
}
@keyframes orbit {
  to{
    transform: rotate(360deg);
  }
}
